.bg-about-header {
  position: relative;
  top: 0;
  left: 0;
  background-image: url('/img/bg-about.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  color: #fff;
}
.bg-main {
  top: 0;
  left: 0;
  position: relative;
  background-image: url('/img/bg-night.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}