.bg-login {
  top: 0;
  left: 0;
  background-image: url('/img/bg-night.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
button[type='submit'] {
  max-width: 400px;
  padding: 10px;
  background-color: #bf1f43;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-content: center;
}

button[type='submit']:hover {
  background-color: #fa4444;
}

/* Error message */
.error-message {
  color: red;
  margin-top: 5px;
}