.bg-header {
  position: "relative";
  top: "0";
  left: "0";
  background-image: "url('/bg-header.png')";
  background-repeat: "no-repeat";
  background-size: "100%";
  width: "inherit";
  height: "64.313rem";
}
.new_main {
  position: absolute;
  font-size: 45px;
  line-height: 1.2 !important;
  text-transform: uppercase;
  padding: 20% 7%;
  width: fit-content;
  height: min-content;
}
.new_main {
  font-family: "Arial Black" !important;
}