.bg-adv {
  top: 0;
  left: 0;
  background-image: url('/img/bg-night.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
.v_lined {
    padding-left: 20px;
    position: relative;
    display: inline-block;
  }
.v_lined::before {
  content: " ";
  background: #fff;
  width: 1px;
  height: 3dvi;
  border-left: 25px;
  position: absolute;
}
