.gamer-news-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .gamerNewsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg');
    background-size: cover; /* Растягиваем изображение на весь контейнер */
    background-repeat: no-repeat; /* Не повторяем изображение */
    background-position: center; /* Центрируем изображение */
    padding: 20px;
  }
  .oneNewsContent{
    display: flex;
    justify-content: center;

  }
  .gamerOneNewsContainer{
    display: flex;
    justify-content: center;
    background-image: url('https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg');
    background-size: cover; /* Растягиваем изображение на весь контейнер */
    background-repeat: no-repeat; /* Не повторяем изображение */
    background-position: center; /* Центрируем изображение */
    padding: 20px;
  }
  .gamerOneNewsItem {
    width: 65%; 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
  }
  .linkNews{
    text-decoration: none;
  }
  .gamerNewsItem {
    width: 30%; 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
  }
  .hoverNews:hover{
    color: #740a0a;
  }
  .gamer-news-list {
    list-style: none;
    padding: 0;
  }
  
  .gamer-news-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  .gamer-news-content {
    display: flex;
    flex-direction: column;
  }
  
  .gamer-news-date {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .gamer-news-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .gamer-news-title {
    font-size: 18px;
    font-weight: bold;
    color: #13fc97;
  }


  .news-text-html{
    color: #13fc97;
  }
  