.gamer-news-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .gamerNewsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('https://images.wallpaperscraft.ru/image/single/tumannost_orion_tumannost_kosmos_1070540_3840x2400.jpg');
    background-size: cover; /* Растягиваем изображение на весь контейнер */
    background-repeat: no-repeat; /* Не повторяем изображение */
    background-position: center; 
    padding: 20px;
  }
  .oneNewsContent{
    display: flex;
    justify-content: center;

  }
  .gamerOneNewsContainer{
    display: flex;
    justify-content: center;
    /* background-image: url('https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg'); */
    background-image: url('/public/img/news-img/tumannost.jpg');
    background-size: cover; /* Растягиваем изображение на весь контейнер */
    background-repeat: no-repeat; /* Не повторяем изображение */
    background-position: center; /* Центрируем изображение */
    padding: 20px;
  }
  .gamerOneNewsItem {
    width: 65%; 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
  }
  .linkNews{
    text-decoration: none;
  }
  iframe{
    height: 339px;
    width: 600px;
  }
  .gamer-one-news-title{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #13fc97;
  }
  .kg-embed-card{
    display: flex;
    justify-content: center;
  }
  .gamerNewsItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%; 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
  }
  .hoverNews:hover{
    color: #13fc97;
  }
  .date-and-comment{
    margin-top: 10px;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
  .date-pageNews{
    display: flex;
    align-items: flex-end;
  }
  .gamer-news-list {
    list-style: none;
    padding: 0;
  }
  
  .gamer-news-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  .gamer-news-content {
    display: flex;
    flex-direction: column;
  }
  
  .gamer-news-date {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .gamer-news-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .gamer-news-title {
    font-size: 18px;
    font-weight: bold;
    color:#86102d;
  }


  .news-text-html{
    color: #13fc97;
  }
  
  